body{
    font-family: Arial, sans-serif;
    background-color: dodgerblue;
    text-align: center;
}
h1{
    color: darkblue;
    font-size: 85px
}
p{
    background-color: dodgerblue;
    color: black;
    font-size: 50px
    
}
h2{
    font-size: 50px;
}